#main-header {
	background: #333;
	color: cornflowerblue;
	height: 90px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  
}
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
  padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}

h1{
    color:mediumaquamarine;    
}
#text{ 
font-size: 3em; /* Opcional, incrementa o disminuye esto si quieres incrementar o disminuir el tamaño de texto de la sombra. */ 
display: block; 
line-height: 1em; 
color: #666; /* color de la sombra */ 
background-color: transparent; 
white-space: nowrap; /* efecto de rompimiento de texto */ 
} 
